BODY {
	SCROLLBAR-FACE-COLOR: #336699; BACKGROUND: #112233; SCROLLBAR-HIGHLIGHT-COLOR: #112233; SCROLLBAR-SHADOW-COLOR: #112233; COLOR: #e3dfeb; SCROLLBAR-ARROW-COLOR: #112233; SCROLLBAR-TRACK-COLOR: #112233; SCROLLBAR-DARKSHADOW-COLOR: #112233; SCROLLBAR-BASE-COLOR: #112233; scrollbar-3d-light-color: #112233
}
A:link {
	COLOR: #e3dfeb; TEXT-DECORATION: none
}
A:active {
	COLOR: #e3dfeb; TEXT-DECORATION: none
}
A:visited {
	COLOR: #e3dfeb; TEXT-DECORATION: none
}
A:hover {
	COLOR: #5affce; TEXT-DECORATION: none
}
TABLE {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; PADDING-LEFT: 0px; FONT-SIZE: 10px; PADDING-BOTTOM: 0px; BORDER-LEFT: 0px; WIDTH: 700px; PADDING-TOP: 0px; BORDER-BOTTOM: 0px; FONT-FAMILY: verdana,tahoma,arial; BORDER-COLLAPSE: separate; align: center; border-spacing: 1px
}
text {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; PADDING-LEFT: 0px; FONT-SIZE: 10px; PADDING-BOTTOM: 0px; BORDER-LEFT: 0px; WIDTH: 700px; PADDING-TOP: 0px; BORDER-BOTTOM: 0px; FONT-FAMILY: verdana,tahoma,arial; BORDER-COLLAPSE: separate; align: center; border-spacing: 1px
}
TD {
	WIDTH: 700px; BACKGROUND-COLOR: #336699
}
